<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>情報学科履修一覧（専門科目）</title>
  </head>
  <header>
    <h1>情報学科専門科目講義一覧</h1>
  </header>
  <body>
    <%= link_to '戻る', "/" %>
    <table border="1">
    <tr>
      <th>　科目名　</th>
      <th>　開講年次　</th>
      <th>　シラバス　</th>
      <th>　コメント評価を登録　</th>
    </tr>
    <tr>
      <td>数学</td>
      <td>1年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><%= link_to '登録', new_valuation_path %></td>
    </tr>
    <tr>
      <td>数学演習</td>
      <td>1年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報数学</td>
      <td>1年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報数学演習</td>
      <td>1年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>応用数学</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>応用数学演習</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>多変量解析</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>コンピュータ概論I</td>
      <td>1年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>コンピュータ概論II</td>
      <td>1年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>ネットワークと通信の理論</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報と符号の理論</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>計算の複雑さ</td>
      <td>3年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>暗号とセキュリティの理論</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報システム概論</td>
      <td>1年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>プロジェクト管理</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>プロフェッショナルデザイン</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報と職業</td>
      <td>1年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報社会と倫理</td>
      <td>1年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報と法</td>
      <td>3年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>プログラミングI</td>
      <td>1年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>プログラミングII</td>
      <td>1年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>データ構造とアルゴリズム</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>データ構造とアルゴリズム演習</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>ソフトウェア工学</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>オブジェクト指向プログラミング</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>オブジェクト指向プログラミング演習</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>アドバンスプログラミング</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>ソフトウェア分析・設計</td>
      <td>3年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>ソフトウェア開発・発展</td>
      <td>3年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>ソフトウェア開発演習</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>コンピュータネットワーク</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>インターネット工学</td>
      <td>3年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>インターネット工学演習</td>
      <td>3年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>ネットワークセキュリティ</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>ネットワークセキュリティ演習</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>コンピュータ音楽</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>マルチメディア</td>
      <td>1年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>Webコンテンツ企画設計</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>Webコンテンツ制作</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>画像処理</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>映像表現</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>ゲームとシナリオのデザイン</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>コンピュータグラフィックス</td>
      <td>1年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>プロダクションワーク</td>
      <td>3年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>統計ソフトウェアI</td>
      <td>1年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>統計ソフトウェアII</td>
      <td>1年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>深層学習</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>データマイニングと可視化</td>
      <td>3年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>シミュレーション</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>知識工学</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>知識工学演習</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>データベース</td>
      <td>2年次後期</td>
      <td><a href="https://fuk-unipa.itp.kindai.ac.jp/up/faces/up/xu/pXuk0204A.jsp?sanshoTblFlg=1&nendo=2021&jugyoCd=10221S0585">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>データベース演習</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>データサイエンス</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>データ分析演習</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報学概論</td>
      <td>2年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報学序論</td>
      <td>2年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報学プロジェクトI</td>
      <td>3年次前期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>情報学プロジェクトII</td>
      <td>3年次後期</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
    <tr>
      <td>卒業研究</td>
      <td>4年次通年</td>
      <td><a href="#">こちら</a></td>
      <td><a href="#">登録</a></td>
    </tr>
  </table>
  </body>
  <footer>
    <hr>
    <p>&copy; Kindai Sangyoriko</p>
  </footer>
</html>

<style>
*{
font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO","ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}
ul{
list-style: none;
background-color: #00bfff;
text-align: center;
}
li{
display: inline;
}
ul li a{
color: white;
text-decoration: none;
padding: 0px 30px;
}
footer{
text-align: center;
}
</style>