<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="search">
  <%= form_tag '/valuation/search', method: :post do %>
  <%= text_field_tag :keyword %>
  <%= submit_tag '検索' %>
</div>
